:root {
    --primary: #D48745;
    --secondary: #145870;
    --tertiary: #8C9C72;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(20, 88, 112, 0.3);
}
